
# package directories
node_modules
jspm_packages
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# build
build
dist
.manifest-dist.yml
deploy/
out/

# Config
config.json
.env*
.aio
.credentials.json
266146-taraj2-Stage.json

# Adobe I/O console config
console.json

# Test output
junit.xml

# IDE & Temp
.cache
.idea
.nyc_output
.vscode
coverage
.aws.tmp.creds.json
.wskdebug.props.tmp
*.tmp
*.temp

# Parcel
.parcel-cache

# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# yeoman
.yo-repository

# logs folder for aio-run-detached
logs

# ─── Web Source Build ─────────────────────────────────────────────────────────
web-src/dist/
web-src/build/